
{% extends "base.html" %}

{% block body %}
<div id="login">
<div class="container">
    <h1>Login</h1>
    {% if 'username' in session %}
        <p>Welcome back {{session['username']}}!</p>
        <p>To logout, click this button:</p>
        <form action="{{url_for('login')}}" method="post">
            <input type="submit" name="logout" value="logout" />

        </form>
    {% else %}
        <p>Enter your credentials:</p>
        <form action="{{url_for('login')}}" method="post">
            <p>Username:<br />
            <input type="text" name="username" /></p>
            <p>Password:<br />
            <input type="password" name="passwd" /></p>
<button class="btn btn-large btn-primary" type="submit" value="submit">Log In</button>
        </form>

        <img src="../static/images/town.jpeg"/>
</div> 
</div>
    {% endif %}
{% endblock %}